extends admin_layout

block content
  br

  .container
    h2.orange-text
      | Monitor Lockers
    
    br

    .row
      a.card-select(href="/admin/cluster/A")
          .col.s12.m6.l6
            .card.card-selectable
              .card-content
                h4.center Cluster A

        a(href="/admin/cluster/B")
          .col.s12.m6.l6
            .card.card-selectable
              .card-content
                h4.center Cluster B

        a(href="/admin/cluster/C")
          .col.s12.m6.l6
            .card.card-selectable
              .card-content
                h4.center Cluster C

        a(href="/admin/cluster/D")
          .col.s12.m6.l6
            .card.card-selectable
              .card-content
                h4.center Cluster D