extends layout

block content
    br

    if (user)
      .container
        h2
          | Hello #{user.name}

    br
    
    .container
      .row
        a.card-select(href="/locker1")
          .col.s12.m6.l6
            .card.card-selectable
              .card-content
                h4.center Beside CEA's Library
                br
                img(src="../../images/locker_icon.ico")
        a(href="/locker2")
          .col.s12.m6.l6
            .card.card-selectable
              .card-content
                h4.center Near ACCESS Office
                br
                img(src="../../images/locker_icon.ico")