extends layout

block content
  br
  br
  .container.col-7.col-m-9.center
      form
          .rowm
            h4.white-text How to Reserve
            ul
              li
                .image-block
                  img.col-12.col-m-9.center(src="../../images/step1.png", alt="Image Title")
                  h6.white-text STEP1: Login and choose between the two locker location
                br
              li
                .image-block
                  img.col-12.col-m-9.center(src="../../images/step2.PNG", alt="Image Title")
                  h6.white-text STEP2: Then choose your locker number(ex. D4)
                br  
              li
                .image-block
                  img.col-12.col-m-9.center(src="../../images/step3.PNG", alt="Image Title")
                  h6.white-text STEP3: And click the RESERVE THIS LOCKER button
                br  
            
          

          

      
  
    
    

