extends layout

block content
    br
    section.lockerb_form.col-8.col-m-9
      form(name='lockerb')
        ul
          li LOCKER 2
          li
            button(type='submit', value='sumbit') L1
          li
            button(type='submit', value='sumbit') L2
          li
            button(type='submit', value='sumbit') L3
          li
            button(type='submit', value='sumbit') L4
          li
            button(type='submit', value='sumbit') L5  
          li
            button(type='submit', value='sumbit') L6
          li
            button(type='submit', value='sumbit') L7
          li
            button(type='submit', value='sumbit') L8
          li
            button(type='submit', value='sumbit') L9
          li
            button(type='submit', value='sumbit') L10
          li
            button(type='submit', value='sumbit') L11
          li
            button(type='submit', value='sumbit') L12
          li
            button(type='submit', value='sumbit') L13
          li
            button(type='submit', value='sumbit') L14
          li
            button(type='submit', value='sumbit') L15
           li
            button(type='submit', value='sumbit') L16
          li
            button(type='submit', value='sumbit') L17
          li
            button(type='submit', value='sumbit') L17
          
          

      
  
    
    

