extends layout

block content
    
  h3.center.white-text Choose your desire locker
  br
  .container.black.center
    .row
      .col.s12.m12.l12.white-text
        h4.center.white-text-text Cluster D
        br
        .row
          each locker, i in clusterD
            .col.s4.m4.l4
              if (locker.status == 'Available')
                a.waves-effect.waves-white.btn-flat.orange.black-text.btn-large(href='/locker/' + locker._id + '/reserve')
                  | #{locker.cluster}#{locker.lockerNumber}
              else
                a.waves-effect.waves-white.btn-flat.orange.black-text.btn-large.disabled(href='/locker/' + locker._id + '/reserve')
                  | #{locker.cluster}#{locker.lockerNumber}
          
          

      
  
    
    

