extends layout

block content
    
    br

    .row
      .col.s12.m4.l4.black
        | Cluster A Locker
      .col.s12.m4.l4.orange
        | Cluster B Locker
      .col.s12.m4.l4.black
        | Cluster C Locker