extends layout

block content
    br
    section.Login_form.col-3.col-m-9
      form(name='login_box')
        ul
          li LOG-IN
          li
            input#studentnumber(type='text', placeholder='Student Number', required='')
          li
            input#password(type='password', placeholder='password')
          li
            button(type='submit', value='sumbit') Log-in
          li
            a(href='#') Forgot your password?
    section.Create_account.col-3.col-m-9
      form(name='create_account')
        ul
          li Don't have account?
          li
            button(type='submit', value='submit') Create account   
            br

