extends layout

block content
  br
  .rowl.container.col-4.col-m-9
      h4.white-text.center-align USER LOGIN

      if (error)
        .row
          .col.s12.m12.l12
            h6#alert.white-text.center-align= error

      form(method='post', action='/auth/login')
        br
        .row.override
          .input-field.white-text
            input#username.validate.white-text(type='text', name= 'studentNo', pattern="[0-9]{4}-[0-9]{5}-[A-Z]{2}-[0-1]{1}", required)
            label(for='studentNo', data-error="Invalid Student Number") Student Number

          .input-field.white-text
            input#password.validate(type='password', name= 'password', required)
            label(for='password') Password
        br 
        .row.center
          button.orange.btn.waves-effect.waves-light(type='submit', name='action')
            | Login
            i.fa.fa-sign-in.right.small

        .row
          p.center.white-text
              | Don't have account? Click 
              b
                a.red-text.link(href= '/auth/signup') Sign-Up     
