extends layout

block content
  br
  .container.center.black
    h4.center.orange-text Reserve this locker
    h5.center.white-text The following locker will be reserve to you:
    br
    br
    h5.left-align.white-text
      | Cluster: #{locker[0].cluster}
    h5.left-align.white-text
      | Locker: #{locker[0].cluster}#{locker[0].lockerNumber}
    h5.left-align.white-text
      | Will be reserved to: #{user.name}
    br

    a.waves-effect.waves-light.btn-flat.orange.black-text(href='/locker/' + locker[0]._id + '/reserveCompletion')
      | RESERVE THIS LOCKER
