extends layout

block content
  br
  .container.rown.col-4.col-m-9
      h4.white-text.center-align PROFILE
      form
        .rows
          p
          br
          b.white-text
            | Student Number: 
          |   #userInfo.studentNumber
          br
          br
          b.white-text
            | Full Name: 
          |   #userInfo.fullName
          br
          br
          b.white-text
            | Year & Section: 
          |   #userInfo.yearSection
          br
          br
          b.white-text
            | Contact Number: 
          |   #userInfo.contactNumber
          br
          br
          b.white-text
            | Email: 
          |   #userInfo.email
          br
          br
          b.white-text
            | Reserved Locker: 
          |   #userInfo.lockerNumber
          br
          br
         
        .row.center
            button.orange.btn.waves-effect.waves-light(type='submit', name='action')
              | EDIT PROFILE
              i.fa.fa-pencil.small.left
             
           